{#
/**
 * @file tmgmt_server_client.html.twig
 * Default theme implementation to present TMGMT Server Client data.
 *
 * This template is used when viewing TMGMT Server Client pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tmgmt_server_client()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tmgmt_server_client') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
